:root {
    --background: rgb(255, 255, 255);
    --basecolor: rgb(0, 0, 0);
    --containercolor: rgb(200, 50, 50);
}

* {
    margin: 0;
    padding: 0;
    color: var(--basecolor);
    font-family: "Ubuntu", sans-serif !important;
}

body {
    background-color: var(--background);
    font-size: medium;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

main {
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    padding: 0 20px;
}

p {
    text-align: justify;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

header {
    position: fixed;
    z-index: 4000;
    height: 40px;
    padding: 5px 1% 0;
    top: 0;
    width: 98%;
    background-color: var(--background);
}

header div {
    float: left;
}

header nav {
    float: right;
    display: flex;
    align-items: center;
    height: 40px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

h2 {
    font-size: 35px;
    font-weight: 800px;
    letter-spacing: 3px;
}

nav button {
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
}

div.block {
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

div.text {
    max-width: 900px;
    width: fit-content;
}

div.container {
    background-color: var(--containercolor);
    border-radius: 20px;
}

div.inputs {
    width: 60%;
    margin: auto;
}

.main-svg {
    border-radius: 20px;
}

.js-plotly-plot .plotly .modebar {
    transform: translateX(-10px)
} /* to accomodate modebar with border-radius set in .main-svg */

img#omszLogo {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2000;
    width: 20%;
    max-width: 150px;
    min-width: 80px;
    pointer-events: none;
}

img#mavirLogo {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2000;
    width: 10%;
    max-width: 72px;
    min-width: 36px;
    pointer-events: none;
}

