:root {
    --background: #0e010d;
    --onbackground: #feeeff;
    --primary: #050e61;
    --onprimary: #feeeff;
    --secondary: #5cb603;
    --onsecondary: #0e010d;
}

* {
    margin: 0;
    padding: 0;
    color: var(--onbackground);
    font-family: "Ubuntu", sans-serif;
}

.plot-container * {
    font-family: "Ubuntu", sans-serif !important;
}

body {
    background-image:
        radial-gradient(farthest-corner at 20% 70%, #3a1616 0%, transparent 50%),
        radial-gradient(farthest-corner at 80% 50%, #143101 0%, transparent 40%);
    background-color: var(--background);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    font-size: medium;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

main {
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    padding: 0 20px;
}

p {
    text-align: justify;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

header {
    position: fixed;
    z-index: 4000;
    height: 40px;
    padding: 5px 1% 0;
    top: 0;
    width: 98%;
    background-color: var(--background);
}

header img {
    height: 40px;
    margin-right: 5px;
}

header div {
    float: left;
    display: flex;
    align-items: center;
}

header nav {
    float: right;
    display: flex;
    align-items: center;
    height: 40px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    font-size: 35px;
    font-weight: 800px;
    letter-spacing: 3px;
    text-align: center;
}

nav button {
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
}

div.block {
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

div.text {
    max-width: 900px;
    width: fit-content;
}

div.container {
    background-color: rgba(150, 150, 150, 0.15);
    color: var(--onprimary);
    border-radius: 20px;
    backdrop-filter: hue-rotate(120deg);
}

.main-svg {
    border-radius: 25px;
}

#omszStationMapDiv{
    position: relative;
}

.hider {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    border: 3px solid #e8e4c9;
    border-radius: 20px;
    box-sizing: border-box;
    pointer-events: none;
}

.js-plotly-plot .plotly .modebar {
    transform: translateX(-10px)
}

/* to accomodate modebar with border-radius set in .main-svg */

img#omszLogo {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2000;
    width: 20%;
    max-width: 150px;
    min-width: 80px;
    pointer-events: none;
}

img#mavirLogo {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2000;
    width: 10%;
    max-width: 72px;
    min-width: 36px;
    pointer-events: none;
}

div.inputs {
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

input,
button,
select,
label {
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    background-color: var(--secondary);
    outline: none;
    color: var(--onsecondary);
    cursor: pointer;
}

option {
    color: var(--onsecondary);
}

i {
    margin: 2px;
    color: var(--onsecondary);
}

input:disabled,
button:disabled,
select:disabled {
    border: none;
    border-radius: 15px;
    background-color: var(--background);
    color: #696169;
}

button:disabled>i {
    color: #696169;
}

input[type="datetime-local"]:focus {
    border: none;
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    padding: 10px;
    background: var(--background) !important;
    border: 1px solid var(--background);
    display: inline-block;
    margin-right: 0;
}

input[type="checkbox"]:checked {
    border-color: var(--secondary) !important;
    background-color: var(--secondary) !important;
}

input[type="checkbox"]+label {
    background: none;
    border: none;
    color: var(--background);
    transition: 0.2ms;
}

input[type="checkbox"]:checked+label {
    color: var(--secondary);
    transition: 0.2ms;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    header div h1 {
        display: none;
    }
}
